<div class="w-full max-w-lg mx-auto">
	<h1 class="text-2xl font-semibold">All the posts</h1>

	<% if @posts.present? %>
		<ul>
			<% @posts.each do |post| %>
				<div class="pb-3 mb-3 border-b border-gray-500">
					<header class="mb-4">
						<h3 class="text-lg">
							<%= link_to post.title, post_path(post.id), class: "underline" %>
						</h3>
						<em>by <%= post.user.email %></em>
					</header>

					<section class="mb-4">
						<%= post.body.truncate(160) %>
					</section>
				</div>
			<% end %>
		</ul>
	<% end %>
</div>
